<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <div class="container">
        <h1>Loggedin</h1>
        <br>
        <button id="logout" type="button">Logout</button>
    </div>
    <script>
        document.querySelector('#logout').addEventListener('click', async function(e){
            const data = await fetch('http://localhost:5800/userRoute/logout',{
                method:"get"
            }); 
            let dataRes = (await data.json());
            alert('Successfully logged out');
            window.location.href = dataRes.key;
        })
    </script>
</body>
</html>